<div class="container" style="max-width: 500px">
    <h3>Clock In/Out</h3>
    <br>

    <div class="card-panel">
        <%= form_tag(clock_in_path, method: :post) do %>
            <!-- NOTE: The authenticity_token is added here because sometimes the "Clock Out" submit button fails -->
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <%= label_tag(:email, "Email:") %>
            <%= text_field_tag(:email) %>
            <br>

            <%= label_tag(:password, "Password:") %>
            <%= password_field_tag(:password) %>
            <br>

            <% if flash[:data].to_h.dig('is_clocked_in_already') %>
                <br>
                <label name="clock_in_again">
                    <input type="checkbox" name="clock_in_again" id="clock_in_again" value="1">
                    <span>Confirm clock in</span>
                </label>
                <br>
            <% end %>

            <br>

            <%= submit_tag("Clock In", class: "btn white-text left green") %>
            <%= submit_tag("Clock Out", class: "btn white-text right red", formaction: clock_out_path) %>

            <br>
            <br>

        <% end %>
    </div>
</div>
