<!DOCTYPE html>
<html>
  <head>
    <title>Himama Coding Challenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'Home', :root  %>
      <%= link_to 'Clock Events', :clock_events %>
    </header>

    <% flash.each do |key, value| %>
        <% next unless %w(success warning danger info).include?(key) %>
        <div class="<%= key %>">
            <%= value %>
        </div>
    <% end %>

    <%= yield %>
  </body>
</html>
